<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="mt=5 p=2 row justify-content-center align-items-center">
        <div class="col-6">
              @RenderBody()
        </div>
    </div>
    
</body>
</html>
