<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @*  start Header *@

    <header class="mt-5 ">
        <center>
            <nav>
                <a href="/Home/index" class="btn btn-primary">Home</a>
                <a href="/Home/AboutUs" class="btn btn-warning" ">About Us</a>
                <a href="/Home/ContactUs" class="btn btn-light" ">Contact Us</a>
                <a href="/Home/Privacy" class="btn btn-success" ">Privacy</a>
                <a href=" /Accounts/SignIn" class="btn btn-info" ">SignIn</a>
                <a href=" /Accounts/SignUp" class="btn btn-danger" ">SignUp</a>

            </nav>
        </center>
    </header>
    @*  End Header *@

    @*  Start Body *@
    <div>
        @RenderBody()
    </div>
    @*  End Body *@

    @*   StartFooter *@
    <footer>
        <center>
            <div class="mt-3">
                <p>copy Rights &copy; @DateTime.Now.Year</p>
            </div>
        </center>
    </footer>
    @*  End Footer *@

</body>
</html>
